{% extends "app/base.html" %}

{%block title %} About us {% endblock %}

{%block externalLinkRels %}
<link rel="stylesheet" type="text/css"
	href='{{STATIC_URL}}app/css/aboutus.css'>
{% endblock %}
	
{% block body %}

<div id="ourTeam" class="col-md-10 col-md-offset-1">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<h1> Our Team</h1>
	<h3> Our team consists of 8 members; Aseel, Itay, Leen, Mouhammad, Shir, Yael, Wassim and Shadi. We're a group of 16-17 year olds, participating in the MEET program. </h3>
	<h3> VolunTeam was founded after we found that many people who want to volunteer face difficulties finding institutions and organizations to volunteer in. Likewise, organizations struggle to reach out to essential volunteers. These problems decrease the volunteering rates, although volunteering is crucial for the society in our region to build itself. </h3>
	<h3> VolunTeam offers a solution to this problem, by offering volunteering opportunities in a range of different fields and connecting between volunteers and organisations. We put an emphasis on creating volunteering groups that include both Palestinians and Israelis, out of belief that volunteering helps to bridge gaps between people from different backgrounds. </h3> 

	<a href="#AseelProfile"><button type=”button” class="btn btn-default" id="Aseel">Aseel</button></a>
	<a href="#ItayProfile"><button type=”button” class="btn btn-default" id="Itay">Itay</button></a>
	<a href="#LeenProfile"><button type=”button” class="btn btn-default" id="Leen">Leen</button></a>
	<a href="#MouhammadProfile"><button type=”button” class="btn btn-default" id="Mouhammad">Mouhammad</button></a>
	<a href="#ShirProfile"><button type=”button” class="btn btn-default" id="Sheer">Shir</button></a>
	<a href="#YaelProfile"><button type=”button” class="btn btn-default" id="Yael">Yael</button></a>
	<a href="#WassimProfile"><button type=”button” class="btn btn-default" id="Wassim">Wassim</button></a>
	<a href="#ShadiProfile"><button type=”button” class="btn btn-default" id="Shadi">Shadi</button></a>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div id="AseelProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Aseel.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Aseel Risheq</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Business</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>			
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="ItayProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Itay.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Itay Shashoni</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Israeli</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
	
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="LeenProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Leen.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Leen Ali</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Business</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="MouhammadProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Mouhammad.jpg" class="Pics"></td>
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Mouhammad Dari</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Business</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="ShirProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Shir.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Shir Somech</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Israeli</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="YaelProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Yael.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Yael Perez</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Israeli</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="WassimProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Wassim.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Wassim Saba</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="ShadiProfile">
<a href="#Origin"><button type=”button” class="btn btn-primary" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Shadi.jpg" class="Pics"></td>	
	
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Shadi Iskandar</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

{% endblock %}
