{% extends "app/base.html" %}

{%block title %} About us {% endblock %}

{%block externalLinkRels %}
<link rel="stylesheet" type="text/css"
	href='{{STATIC_URL}}app/css/aboutus.css'>
{% endblock %}
	
{% block body %}
<div id="" class="col-md-10 col-md-offset-1">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<div class="box1">
			<h1> Our Team</h1>
		</div>
		<div class="box"><p class="padding"> Our team consists of 8 members; Aseel, Itay, Leen, Mouhammad, Shir, Yael, Wassim and Shadi. We're a group of 16-17 year olds, participating in the MEET program. </p>
		</div>
		<div class="box"><p class="padding"> VolunTeam was founded after we found that many people who want to volunteer face difficulties finding institutions and organizations to volunteer in. We offers a solution to this problem, by offering volunteering opportunities in a range of different fields and connecting between volunteers and organisations.</p>  </div>	
		</div>
</div>
<div style="margin-top:30px;text-align:center;">
	<img class="img-round Pics" id="Aseel" src="{{STATIC_URL}}app/img/Aseel.jpg">
	<img class="img-round Pics" id="Itay" src="{{STATIC_URL}}app/img/Itay.jpg">
	<img class="img-round Pics" id="Shir" src="{{STATIC_URL}}app/img/Shir.jpg">
	<img class="img-round Pics" id="Shadi" src="{{STATIC_URL}}app/img/Shadi.jpg">
	<img class="img-round Pics" id="Leen" src="{{STATIC_URL}}app/img/Leen.jpg">
	<img class="img-round Pics" id="Wassim" src="{{STATIC_URL}}app/img/Wassim.jpg">
	<img class="img-round Pics" id="Yael" src="{{STATIC_URL}}app/img/Yael.jpg">
	<img class="img-round Pics" id="Mouhammad" src="{{STATIC_URL}}app/img/Mouhammad.jpg">
</div>	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="AseelProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Aseel.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Aseel Risheq</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Business</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>			
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="ItayProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Itay.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Itay Shashoni</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Israeli</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
	
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="LeenProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Leen.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Leen Ali</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Business</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="MouhammadProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Mouhammad.jpg" class="Pics"></td>
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Mouhammad Dari</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Business</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="ShirProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Shir.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Shir Somech</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Israeli</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="YaelProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Yael.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Yael Perez</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Israeli</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="WassimProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Wassim.jpg" class="Pics"></td>	
		
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Wassim Saba</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="ShadiProfile">
<a href="#top"><button type=”button” class="btn btn-default" >Back</button></a>
<table><tr><td><img src="{{STATIC_URL}}app/img/Shadi.jpg" class="Pics"></td>	
	
			<td>
				<table>
					
						<tr><td><B>Name:</B></td> <td>Shadi Iskandar</td></tr>
						<tr><td><B>Nationality:</B></td> <td>Palestinian</td></tr>
						<tr><td><B>Field:</B></td> <td>Computer Science</td></tr>
						<tr><td><B>Age:</B></td> <td>17</td></tr>
					
				</table>
			</td>
		</tr>
</table>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

{% endblock %}
