{% extends "app/base.html" %}
{% load filters %}
{%block title %} Add Volunteer Events{% endblock %}
% block externalLinkRels %}
   <link rel="stylesheet" href="{{STATIC_URL}}app/css/green-button.css" type="text/css" />
{% endblock %}
{% block body %}
<script>
{% for error in errors %}
   alert('{{ error }}');
{% endfor %}
</script>
<div class="GreenBOX row">
   <h1 id="SignUp" style="margin-left:8%;" class> Add a Volunteering Event</h1>
   <form action="/addEvent_request/" method="post" id="addeventform">
      {% csrf_token %}
      <div class="row">
         <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
               <label for="InputFirstName">Event Name</label>
               <input type="text" class="form-control" id="InputFirstName" name="eventName" placeholder="Event Name">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
               <label for="InputLastName">Description</label>
               <textarea class="form-control" id="input-description" name="description"></textarea>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
               <label for="InputLocation">Location</label>
               <input type="text" class="form-control" id="InputLocation" name="location" placeholder="Location">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
               <label for="InputTime">Duration</label>
               <input type="text" class="form-control" id="input-time" name="duration" placeholder="Event Duration" >
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
               <label for="input-groupSize">Group Size</label>
               <input type="text" class="form-control" id="input-groupSize" name="groupSize" placeholder="Group Size" >
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-1 col-md-offset-2">
            <label for ="dateOption">Date</label>
         </div>
         <div class="col-md-1">
            <div class ="form-group">
               <select class="form-control" name="dateDay" id ="dateOption">
                  <option value="" selected disabled >Day</option>
                  {% for i in 31|get_range %}
                     <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
         <div class="col-md-1 ">
            <div class ="form-group">
               <select class="form-control" name="dateMonth" id ="dateOption">
                  <option value="" selected disabled >Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
               </select>
            </div>
         </div>
         <div class="col-md-1 ">
            <div class ="form-group">
               <select class="form-control" name="dateYear" id ="dateOption">
                  <option value="" selected disabled >Year</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
               </select>
            </div>
         </div>
      </div>
          <div class="row">
         <div class="col-md-1 col-md-offset-2">
            <label for ="dateOption">Time</label>
         </div>
         <div class="col-md-1">
            <div class ="form-group">
               <select class="form-control" name="dateHour" id ="dateOption">
                  <option value="" selected disabled >Hour</option>
                  {% for i in 23|get_range %}
                     <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
         <div class="col-md-1 ">
            <div class ="form-group">
               <select class="form-control" name="dateMinute" id ="dateOption">
                  <option value="" selected disabled >Minute</option>
                  {% for i in 59|get_range %}
                     <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
               <label for="input-groupSize">Group Size</label>
               <input type="text" class="form-control" id="input-groupSize" name="groupSize" placeholder="Group Size" >
            </div>
         </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
         <div class="row">
            <button type="submit" class="button2">Add Event</button>
         </div>
         <div class="col-md-10 col-md-offset-2">
            <br>
         </div>
      </form>
   </div>
</div>
{% endblock %}