{% extends "app/base.html" %}
{%block title %} About us {% endblock %}
{%block externalLinkRels %}
<link rel="stylesheet" type="text/css"
href='{{STATIC_URL}}app/css/UserProfile.css'>
{% endblock %}
{% block body %}
<div class="GreenBOX row col-md-offset-1">
    <h1 id="Donate" style="font-size:80px;">Donation</h1>
</div>
<br><br>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<form class="form-inline">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
		    <div class="input-group">
		      <div class="input-group-addon">$</div>
		      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
		      <div class="input-group-addon">.00</div>
		    </div>
		  </div>
		  <button type="submit" class="btn btn-primary">Transfer cash</button>
		</form>
	</div>			
</div>
{% endblock %}