{% extends "app/base.html" %}
{%block title %} About us {% endblock %}
{%block externalLinkRels %}
<link rel="stylesheet" type="text/css"
href='{{STATIC_URL}}app/css/UserProfile.css'>
{% endblock %}
{% block body %}
<div class="GreenBOX row col-md-offset-1">
    <h1 id="Donate" style="font-size:80px;">Donation</h1>
</div>
<br><br>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<div class="form-inline">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
		    <div class="input-group">
		      <div class="input-group-addon">$</div>
		      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
		      <div class="input-group-addon">.00</div>
		    </div>
		  </div>
		  {% if user.is_authenticated %}
		  		<button onclick="Thanks()" class="btn btn-primary">Transfer cash</button>
		  {% else %}
		  		<button onclick="window.location.href='/'" class="btn btn-primary">Log In First</button>
		  {% endif %}
		</div>
	</div>	
	<div class="row" style="font-size:20px;" style="width:100% ">
		<div class="col-md-6 col-md-offset-1">
			<b>
			<p>Real generosity is doing something nice for someone who will never find out.</p>
			</b>
			<img src="{{STATIC_URL}}app/img/generosity.jpeg" id="g" style="position:absolute;display:none;border-radius:90px;">
		</div>
	</div>		
</div>
<script type="text/javascript">
	function Thanks(){
		var s= document.getElementById("exampleInputAmount").value;
		s=parseInt(s);
		if (s>0){
			alert("Thank you for your generosity, you donated "+ s + "$");
			document.getElementById("g").style.display="block";

		}
		else {
			alert("you didn't put amount of money!");
		}
	}
</script>
{% endblock %}