{% extends "app/base.html" %} {%block title %} Index page {% endblock %}

{% block externalLinkRels %}
	<link rel="stylesheet" type="text/css"
	href='{{STATIC_URL}}app/css/home.css'>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-12 center-block">
			<p id="briefExplanation" class="text-center">
			VolunTeam is a free and simple platform that enables<br>
			Palestinians and Israelis to contribute to the community by volunteering together
			</p>
			<a href="/signup/"><button class="btn btn-default center-block" id="joinUs">Join Us</button></a>
			<br>
			<p id="orLogin" class="text-center">or <a href="">Login</a></p>
		</div>
	</div>
	<div class="row">

	</div>
{% endblock %}
