{% extends "app/base.html" %}
{% load filters %}
{%block title %} Events {% endblock %}
{% block externalLinkRels %}
<link rel="stylesheet" href="{{STATIC_URL}}app/css/green-button.css" type="text/css" />
<link rel="stylesheet" type="text/css"
	href='{{STATIC_URL}}app/css/events.css'>
{% endblock %}
{% block body %}
<div class="container cover col-md-12" style="width:100%;" >
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<a href="/addEvent" class="btn btn-success">Add a new event</a>
		</div>
	</div>
	{% for event in user.account.org_events.all %}
		<div class="row">
			
			<div class="col-md-8 col-md-offset-2 events {{ event|html_classes }}">
				<div class="col-md-6 col-md-offset-1">
					<h3><b><i> {{ event.name }} </i></b></h3>
					<p>
						<h4>{{ event.description }}</h4>
						<p> <b>Group Size:</b> {{ event.group_size }} volunteers </p>
						<p> <b>Time:</b> {{ event|get_event_times }}</p>
						<p> <b>Date:</b> {{ event.date }}</p>
						<p> <b>Location:</b> {{ event.address }} </p>
					</p>
					<hr>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}