{% extends "app/base.html" %}
{%block title %} Previous Events Photos{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css"
	href='{{STATIC_URL}}app/css/photos.css'>
	<script type="text/javascript"> </script>
	<script src="{{STATIC_URL}}app/js/jquery.multiple.select.js"></script>
	<script>

document.getElementById( "img1" ).onclick = function() {
    document.getElementById( "img2" ).style.display= "inline";
};

</script>
<div id="gallery">
    <img id="img1" src="{{STATIC_URL}}app/img/v1.JPG">
    <img id="img1" src="{{STATIC_URL}}app/img/v2.JPG">
    <img id="img1" src="{{STATIC_URL}}app/img/v3.JPG">
    <img id="img1" src="{{STATIC_URL}}app/img/v4.JPG">
    <img id="img1" src="{{STATIC_URL}}app/img/v5.JPG">
    <img id="img1" src="{{STATIC_URL}}app/img/v6.JPG">
    <img id="img1" src="{{STATIC_URL}}app/img/v7.JPG">
    <img id="img1" src="{{STATIC_URL}}app/img/v8.JPG">
</div>
<div>
    {% endblocko %}