{% extends "app/base.html" %}

{%block title %} Index page {% endblock %}

{% block body %}
<div class="GreenBOX">
	<h1>Sign Up</h1>
<title> Sign Up </title>



<p> <div align="center"> <form action= "">
			<p> Nationality:
			<span> 
				<select class="butn">
					<option value="pal">Palestinian</option>
					<option value="isra">Israeli</option>
				</select>
			</span>
			</p>
		</form>
</p>

<p> <div align="center"> <form action= "">
			<p> Gender:
			<span> 
				<select class="butn">
					<option value="f">Female</option>
					<option value="m">Male</option>
				</select>
			</span>
			</p>
		</form>
</p>

<p> Full name: <span><input type="text" placeholder="Enter your full name"></span>  </p>
<p><div align= "center"> Username: <input type="text" placeholder = "Enter your username"></div></p>
<p><div align= "center"> Password: <input  <input type="password" size="25" placeholder = "Create a password" ></div></p>
<p><div align= "center"> Verify Password: <input type="password" size="25" placeholder = "Verify password" ></div></p>

<p><div align= "center"> Email: <input type="text" placeholder = "Enter your e-mail"></div></p>


<p> <div align= "center"> Birthday: 
	 
		<form action= "" align= "center">
			<div> <p>  Day
			<select class="butn">
  				<option value="1">1</option>
  				<option value="2">2</option>
  				<option value="3">3</option>
  				<option value="4">4</option>
				<option value="5">5</option>
  				<option value="6">6</option>
  				<option value="7">7</option>
  				<option value="8">8</option>
				<option value="9">9</option>
  				<option value="10">10</option>
  				<option value="11">11</option>
  				<option value="12">12</option>
				<option value="13">13</option>
  				<option value="14">14</option>
  				<option value="15">15</option>
  				<option value="16">16</option>
				<option value="17">17</option>
  				<option value="18">18</option>
  				<option value="19">19</option>
  				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>
		</span>

			<span>

			 Month
			<select class="butn" align= "center"> 
				<option value="January">January</option>
  				<option value="February">February</option>
  				<option value="March">March</option>
				<option value="April">April</option>
				<option value="May">May</option>
				<option value="June">June</option>
				<option value="July">July</option>
				<option value="August">August</option>
				<option value="September">September</option>
				<option value="October">October</option>
				<option value="November">November</option>
				<option value="December">December</option>
			</select>
			</span>
			<span>
			 Year
			<select class="butn" align= "center">
				<option value="17">1998</option>
				<option value="18">1997</option>
				<option value="19">1996</option>
				<option value="20">1995</option>
				<option value="21">1994</option>
				<option value="22">1993</option>
				<option value="23">1992</option>
				<option value="24">1991</option>
				<option value="25">1990</option>
				<option value="26">1989</option>
			</select>
			</span>	
		</div>
		</form>
	</p>
</div></p>


<p> <div align= "center"> Location:  <input type="text" placeholder = "Where do you live?">
	</div></p>

<form action= "home.html">
			<input type= "submit" value= "Sign Up!">
</form>	
</div>

{% endblock %}
