{% extends "app/base.html" %}
{%block title %} Profile {% endblock %}
{%block externalLinkRels %}
<link rel="stylesheet" type="text/css"
href='{{STATIC_URL}}app/css/UserProfile.css'>
{% endblock %}
{% block body %}
<div class="GreenBOX row col-md-offset-1">
    <h1 id="OrgSignUp" style="font-size:80px;">Profile</h1>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<img src="{{STATIC_URL}}app/img/ProfilePic.jpeg"  class="pic2">
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<div class="form-group">
				<label for="OrgName"><b> {{user.first_name}} {{user.last_name}} </b></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<div class="form-group">
				<label for="OrgEmail"><b>{{user.email}}</b></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<div class="form-group">
				<label for="OrgEmail"><b>{% if not user.account.isPalestinian %} Israeli {% else %} Palestinian {% endif %}</b> </label>
			</div>
		</div>
	</div>
</div>
{% endblock %}