.pic2{
	width:200px;
	height:200px;
	border-radius: 300px;
	transition : width 2s, height 2s;
}
.pic2:hover{
	width:220px;
	height:220px;
	border-radius:20px;

}
.inf{
	position: absolute;
	top:100px;
	left:300px;
}
