{% extends "app/base.html" %}
{%block title %} About us {% endblock %}
{%block externalLinkRels %}
<link rel="stylesheet" type="text/css"
href='{{STATIC_URL}}app/css/UserProfile.css'>
{% endblock %}
{% block body %}
<table>
	<tr>
		<td><b>Name:</b></td><td>{{user.first_name}} {{user.last_name}}</td>
	</tr>
	<tr>
		<td><b>Email:</b></td><td>{{user.email}}</td>
	</tr>
	<tr>
		<td><b>Nationality:</b></td><td> {% if not user.account.isPalestinian %} Israeli {% else %} Palestinian {% endif %}</td>
	</tr>
</table>
{% endblock %}