{% extends "app/base.html" %} 

{%block title %} VolunTeam {% endblock %}

{% block externalLinkRels %}
	
{% endblock %}

{% block body %}
	


<div class="container cover col-md-4 col-md-offset-1" style="width:100%;" >
	<h3 class="col-md-6 col-md-offset-1"> Which of the following would you like to volunteer with? </h3>
			<div class="col-md-6 col-md-offset-2">
			 <button class="btn btn-default center-block" id="animals" width="100%"> Animals </button> <br>
			<button class="btn btn-default center-block" id="Children" width="100%"> Children </button> <br>
			 <button class="btn btn-default center-block" id="elderly" width="100%"> Elderly </button> <br>
			 <button class="btn btn-default center-block" id="ill" width="100%"> Ill People </button><br>
			<button class="btn btn-default center-block" id="handicapped" width="100%"> Handicapped people  </button> <br>
			 <button class="btn btn-default center-block" id="technical" width="100%"> Technical Works </button><br>
			 <button class="btn btn-default center-block" id="youth" width="100%">  Youth at Risk </button> <br>

			</div>
		 


</div>
<br>
			
			<h3 class="col-md-12 col-md-offset-2" > Animals </h3> 
			  
	
	
	<br>
	<div class="col-md-8 col-md-offset-2">
	<h4><strong> Upcoming Events </strong></h4>
	<br>
	<h5><b><i> Event 1 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph 
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</p>
	 
	</div>
<br>

	<div  class="col-md-8 col-md-offset-2"> <h5> <b><i> Event 2 </i></b> </h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph </p>
	 <button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</div>

<br>

	
	<div  class="col-md-8 col-md-offset-2"><h5><b><i> Event 3 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button> </p>
		
</div>


<br>

<hr color="black">


<br>
			<h3 class="col-md-12 col-md-offset-2"> Children </h3>    

	
	<br>
	<div   class="col-md-8 col-md-offset-2">
	<h4><strong> Upcoming Events </strong></h4>
	<br>
	<h5><b><i> Event 1 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph 
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</p>
	 
	</div>
<br>

	<div   class="col-md-8 col-md-offset-2"> <h5> <b><i> Event 2 </i></b> </h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph </p>
	 <button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</div>

<br>

	
	<div   class="col-md-8 col-md-offset-2"><h5><b><i> Event 3 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button> </p>
		
</div>


<br>

<hr color="black">


<br>
			<h3 class="col-md-12 col-md-offset-2"> Elderly </h3>    

	
	<div  class="col-md-8 col-md-offset-2">
	<h4><strong> Upcoming Events </strong></h4>
	<br>
	<h5><b><i> Event 1 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph 
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</p>
	 
	</div>
<br>

	<div  class="col-md-8 col-md-offset-2"> <h5> <b><i> Event 2 </i></b> </h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph </p>
	 <button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</div>

<br>


	<div  class="col-md-8 col-md-offset-2"><h5><b><i> Event 3 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button> </p>
		
	</div>


<br>

<hr color="black">


<br>
			<h3 class="col-md-12 col-md-offset-2"> Ill People </h3>    

	
	<div  class="col-md-8 col-md-offset-2">
	<h4><strong> Upcoming Events </strong></h4>
	<br>
	<h5><b><i> Event 1 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph 
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</p>
	 
	</div>
<br>

	<div  class="col-md-8 col-md-offset-2"> <h5> <b><i> Event 2 </i></b> </h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph </p>
	 <button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</div>

<br>


	<div  class="col-md-8 col-md-offset-2"><h5><b><i> Event 3 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button> </p>
		
	</div>


<br>


<hr color="black">


<br>
			<h3 class="col-md-12 col-md-offset-2"> Handicapped People </h3>    

	
	<div  class="col-md-8 col-md-offset-2">
	<h4><strong> Upcoming Events </strong></h4>
	<br>
	<h5><b><i> Event 1 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph 
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</p>
	 
	</div>
<br>

	<div   class="col-md-8 col-md-offset-2"> <h5> <b><i> Event 2 </i></b> </h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph </p>
	 <button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</div>

<br>


	<div  class="col-md-8 col-md-offset-2"><h5><b><i> Event 3 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button> </p>
		
</div>


<br>

<hr color="black">


<br>
			<h3 class="col-md-12 col-md-offset-2"> Technical Works </h3>    

	
	<div  class="col-md-8 col-md-offset-2">
	<h4><strong> Upcoming Events </strong></h4>
	<br>	
	<h5><b><i> Event 1 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph 
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</p>
	 
	</div>
<br>

	<div  class="col-md-8 col-md-offset-2"> <h5> <b><i> Event 2 </i></b> </h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph </p>
	 <button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</div>

<br>


	<div  class="col-md-8 col-md-offset-2"><h5><b><i> Event 3 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button> </p>
		
</div>


<br>

<hr color="black">


<br>
			<h3 class="col-md-12 col-md-offset-2"> Youth At Risk </h3>    

	
	<div  class="col-md-8 col-md-offset-2">
	<h4><strong> Upcoming Events </strong></h4>
	<br>	
	<h5><b><i> Event 1 <i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph 
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</p>
	 
	</div>
<br>

	<div  class="col-md-8 col-md-offset-2"> <h5> <b><i> Event 2 </i></b> </h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph </p>
	 <button class="btn btn-default center-block joinbuttons" id="join">  Join </button>
	</div>

<br>


	<div  class="col-md-8 col-md-offset-2"><h5><b><i> Event 3 </i></b></h5>
	<p> description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description 	paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph description paragraph
	<button class="btn btn-default center-block joinbuttons" id="join">  Join </button> </p>
		
</div>


<br>

{% endblock %}      
