
#ourTeam{
 	  font-family: 'Roboto', sans-serif;
      font-size: 10px;
      color:#469245;
}
.Pics{
	transition: width 1s, height 1s;
}

.Pics:hover{
	width:130px;
	height:130px;	
}

table
{ width:300px;
height:300px;
font-size:40px;
}

.img-round {
	width: 100px;
	height: 100px;
	border-radius: 50%
	}

p {
    background-color: transparent;
}

p.padding {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.box1 {
	color:#469245;
	font-size: 30px;
}
.box2 {
	margin-top: 3%;
	width: 70%;
	font-size:25px; 
	color:#469245;
	box-shadow: 10px 20px 20px 0px
}
.box3 {
	margin-top: 5%;
	margin-left: 18%;
	font-size:25px; 
	color:#469245;
	box-shadow: 10px 20px 20px 0px
}
.relative1 {
  position: relative;
}
.relative2aseel {
  position: relative;
  top: 10px;
  left: 150px;
  background-color: white;
  width: 500px;
}
#Itay{
	position: absolute;
	top: 140px;
	right:130px;
}
#Aseel{
	position: absolute;
	top: 255px;
	right:130px;
}

#Shadi{
	position: absolute;
	top: 140px;
	right:270px;
}

#Shir{
	position: absolute;
	top: 255px;
	right:270px;
}

#Wassim{
	position: absolute;
	top: 380px;
	left: 60px;
}
#Yael{
	position: absolute;
	top: 495px;
	left:200px;
}

#Leen{
	position: absolute;
	top: 380px;
	left:200px;
}

#Mouhammad{
	position: absolute;
	top: 495px;
	left:60px;
}
