
#ourTeam{
 	  font-family: 'Roboto', sans-serif;
      font-size: 10px;
      color:#469245;
}
.Pics{
	transition: width 1s, height 1s;
}

.Pics:hover{
	width:150px;
	height:150px;	
}

table
{ width:300px;
height:300px;
font-size:40px;
}

.img-round {
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%
	}

p {
    background-color: transparent;
}

p.padding {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.box1 {
	color:#469245;
	font-size: 30px;
}

.box {
	color:;
	font-size: 30px;
}
.box2 {
	margin-top: 1%;
	width: 70%;
	font-size:30px; 
	color:#469245;
}
.box3 {
	margin-top: 2%;
	margin-left: 18%;
	font-size:30px; 
	color:#469245;
}
.relative1 {
  position: relative;
}