       
h3{
	color: #469245;
}

#treepic{
	position: relative;
	left: 20px;
	height: 180px;
	width:250px;
	
}

.fixedPos{
	position: fixed;
	z-index: 999;
}
.events{
	border-color: #050505;
	box-shadow:none;
}

.event-container{

}
.event-center{

    /*display: inline-block;
    vertical-align: middle;
    float: none;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */