
.testDiv{
	background-color:red;
	height:500px;
}

.cover{
	height: 600px;
	margin: 0;
	padding: 0;
	background-image: url("../img/final.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#joinUs{
	height:50px;
	width: 7%;
}

#briefExplanation{
	font-family: Roboto; 
	font-size: 2.5em;
	margin-top:100px;
	color: rgb(255,255,255);
	
}

#orLogin{
	font-family: Roboto; 
	font-size: 1.5em;
	color: #FFFFFF;
}


