
h1{
	color: rgba(123,231,312,1);
}

.greenBOX{
	background-color: none;
	font-family: 'Roboto', sans-serif;

}
.greenBOX h1{
	color: rgba(112,123,131,1);
}


@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
body{
	overflow-x: hidden;
}

