.pic2{
	width:190px;
	height:190px;
	border-radius: 200px;
	transition : width 2s, height 2s;
}
.pic2:hover{
	width:300px;
	height:300px;
	border-radius:50px;
}

p {
text-shadow: 5px 5px 5px #ccc;
filter: dropshadow(color=#ccc, offx=5, offy=5);
} 
body{
background-repeat: no-repeat;
background-size: 100%;
}